---
import Header from "@components/Header.astro";
import Card from "@components/Card.astro";
import '../styles/globals.css';

const staff = [
  { id: 1, name: "Mati", role: "Guardia", shift: "Nocturno" },
  { id: 2, name: "Ana Perez", role: "Psicóloga", shift: "Diurno" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Gestión de Funcionarios</title>
  </head>
  <body>
    <Header />

    <main class="text-white mx-4 my-8">
      <h1 class="text-4xl text-center mb-6">Gestión de Funcionarios</h1>
      <div class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {staff.map(person => (
          <Card name={person.name} detail={person.role} extraDetail={person.shift} />
        ))}
      </div>
    </main>
  </body>
</html>
