---
import Header from "@components/Header.astro"
import '../styles/globals.css';

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Nosostros</title> 
    </head>
    <body>
        <Header></Header>
        
        <div class="container mx-auto py-10 px-5 my-10">
            <h1 class="text-center text-5xl mb-6">¿Quienes somos?</h1>

            <p class="my-10 text-justify">Somos una empresa que vela por la reinserción de los prisioneros a la sociedad creemos que todos aquellos que
                lo demuestren, merecen una segunda oportunidad ofrecemos a diversas prisiones de todo el pais la oportunidad de sumarse a nuestro programa en el
                cual ofrecemos una gestión para prisioneros y funcionarios de la prision que haran posible este poryecto en cada una de las distintas prisiones en las
                cuales se implemente.
            </p>

            <h1 class="text-center text-5xl mb-6">¿Porque lo hacemos?</h1>

            <p class="my-10 text-justify">Creemos que nunca es tarde para cambiar y con esto nos referimos a todas las personas aunque hacemos enfoque especial en los prisioneros a los cuales
                no siempre se les da aquella oportunidad, nosotros junto a nuestro programa buscamos cambiar eso, dandoles la oportunidad a los prisioneros de volver
                a la sociedad dandoles la oportunidad, habilidades y conocimientos necesarios. 
            </p>
            
        </div>
    </body>
</html>