<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

<footer class="relative h-32 ms:min-w-0 w-full">
    <div class="">
        <h1>ola</h1>
        
    </div>
</footer>






<style>

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
footer{
    background-color: black;
}


</style>
